In [6]:
import pandas as pd

df = pd.read_csv("test.csv")
print(df.head())
df.describe()

  Name  Marks
0    A      1
1    B      2
2    C      3
3    D      4
4    E      5

          Marks
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000